.Loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #082124c9;
    z-index: 10;
    transition: opacity 0.5s ease-out;
  }
  
  .Loader.fade-out {
    opacity: 0;
    visibility: hidden;
  }
  
  svg {
    max-width: 20em;
    fill: none;
    stroke: white;
    stroke-width: 8%;
  }
  
  use {
    stroke: var(--orange);
    animation: a 2s linear infinite;
  }
  
  @keyframes a { 
    to { stroke-dashoffset: 0px; } 
  }
  