.Nav{
    padding: 16px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    gap: 32px;
    font-weight: 400;
    color: var(--black);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5
}

.navLogo{
    height: 32px;
}

.navItems{
    display: flex;
    flex-grow: 1;
    gap: 8px;
    justify-content: space-evenly;
}
.navItems>div{cursor: pointer;}

.navBtns{
    display: flex;
    gap: 16px;
}

.navLoginBtn{
    border: 1px solid var(--black);
    background-color: white;
    min-height: 42px;
}

.navSignupBtn{
    border: 1px solid var(--green);
    background-color: var(--green);
    color: white;
    display: flex;
    align-items: center;
    gap: 4px;
    min-height: 42px;
    width: 110px;
    transition: width 200ms ease-in-out;
}

.navSignupBtn.navbtnwidth{
    width: 140px;
}

.navSignupBtn>.css-i4bv87-MuiSvgIcon-root{
    height: 0.8em !important;
}

.navItemBold{
    font-weight: 700;
}