.Footer{
    background: linear-gradient(180deg, #332F2A 0%, #221505 100%);
    padding: 72px 64px;
    color: white;
}

.footerBold{font-weight: 600;}


.footerTerms{
    padding: 16px 0 0;
    font-size: 14px;
    display: flex;
    justify-content: center;
    gap: 56px;
    border: none;
    border-top: 0.5px solid #FFFFFF66;
}